*.sdf
*.opensdf
*.tlog
*.idb
/.codelite
/CppReflector
/CppReflector.make
/CppReflector.mk
/CppReflector.project
/CppReflector.txt
/CppReflector.workspace
/obj
/out.txt
/Makefile
/test.txt
*.vsp
*.psess
/obj/Debug/modules.o
CppReflector.sln
CppReflector.vcxproj
CppReflector.vcxproj.filters
