*.sdf
*.opensdf
*.tlog
*.idb
/.codelite/compilation.db
/.codelite/CppReflector.session
/.codelite/CppReflector.tags
/.codelite/CppReflector.workspace.live_session_user
/.codelite/refactoring.db
/.codelite/sftp-workspace-settings.conf
/.codelite/subversion.conf
/.codelite/tweaks.conf
/.codelite/valgrind.memcheck.supp
/CppReflector
/CppReflector.make
/CppReflector.mk
/CppReflector.project
/CppReflector.txt
/CppReflector.workspace
/obj/Debug/astGenerator.cpp.o
/obj/Debug/astGenerator.cpp.o.d
/obj/Debug/astGenerator.d
/obj/Debug/astProcessor.cpp.o
/obj/Debug/astProcessor.cpp.o.d
/obj/Debug/astProcessor.d
/obj/Debug/.d
/obj/Debug/main.cpp.o
/obj/Debug/main.cpp.o.d
/obj/Debug/main.d
/obj/Debug/tokenizer.cpp.o
/obj/Debug/tokenizer.cpp.o.d
/obj/Debug/tokenizer.d
/out.txt
/Makefile
/test.txt
*.vsp
*.psess
/obj/Debug/modules.o
